<head>
<link rel="stylesheet" href="/css/adminAddView.css">
</head>
<body>
<h1>Add New Brand</h1>
<form action="/admin/brands/add" method="POST" enctype="multipart/form-data">
    <label for="BrandId">Brand ID:</label>
    <input type="text" name="BrandId" placeholder="Enter Brand ID" required /><br />

    <label for="BrandName">Brand Name:</label>
    <input type="text" name="BrandName" placeholder="Enter Brand Name" required /><br />

    <label for="BrandDetails">Brand Details:</label>
    <textarea name="BrandDetails" placeholder="Enter Brand Details" required></textarea><br />

    <label for="Image">Brand Image:</label>
    <input type="file" name="Image" accept="image/*" /><br />

    <button type="submit">Add Brand</button>
</form>
<div class="button-container">
    <a href="/admin/brands" style="color: white; padding: 30px;"><button >Back to Brand List</button></a>
</div>

</body>