<h2>Brand List</h2>
<a href="/admin/brands/add">Add New Brand</a>
<table border="1">
    <tr>
        <th>Brand ID</th>
        <th>Brand Name</th>
        <th>Brand Details</th>
        <th>Image</th>
    </tr>
    <% brands.forEach(brand => { %>
        <tr>
            <td><%= brand.BrandId %></td>
            <td><%= brand.BrandName %></td>
            <td><%= brand.BrandDetails %></td>
            <td>
                <% if (brand.Image) { %>
                    <img src="<%= brand.Image %>" width="100" alt="Brand Image">
                <% } else { %>
                    No Image
                <% } %>
            </td>
        </tr>
    <% }); %>
</table>
