<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    
    <!-- Poppins Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="/css/adminView.css">
  </head>
  <body>
    <a href="/logout">Logout</a>
    <!-- Hero Section -->
    <section id="hero-section">
      <div id="banner-section">
        <h1>Welcome to Admin Dashboard</h1>
      </div>
    </section>
    <!-- Admin Options -->
    <div class="container">
        <div id="admin-options-section">
            <section class="admin-collection">
                <div class="admin-list">
                  
                  <a class="admin-link" href="/admin/products">
                    <button class="admin-button">View Products</button>
                  </a>

                  <a class="admin-link" href="/admin/products/add">
                    <button class="admin-button">Add Product</button>
                  </a>

                  <a class="admin-link" href="/admin/brands">
                    <button class="admin-button">View Brands</button>
                  </a>

                  <a class="admin-link" href="/admin/categories">
                    <button class="admin-button">View Categories</button>
                  </a>

                  <a class="admin-link" href="/admin/product-types">
                    <button class="admin-button">View Product Types</button>
                  </a>

                </div>
            </section>
        </div>
    </div>

    <script src="/js/admin.js"></script>
  </body>
</html>
