<!-- views/header.ejs -->
<head>
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>

<header>
    <div class="nav-header">
      <nav class="navbar">
        <div id="username-welcome">
          <% if (user) { %> 
            <p>Welcome, <span id="username"><%= user.Firstname %></span></p>
          <% } else { %> 
            <p>Welcome!</p>
          <% } %>
        </div>
  
        <a href="#" class="hamburger-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
  
        <div class="nav-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#categories-section">Categories</a></li>
            <li><a href="/brands/list">Brands</a></li>
            <li><a href="/product-types/list">Products</a></li>
          </ul>
        </div>
  
        <div class="search-container">
          <form action="/search" method="GET">
            <input type="text" id="search-box" name="query" placeholder="Search...">
            <button type="submit" id="search-button" class="search-button">🔍</button>
          </form>
        </div>
  
        <% if (user) { %> 
          <a id="logout-button" href="/logout" style="background-color: #D3A6F2; color: white; height: 25px">LogOut</a>
          <a id="user-profile" href="/profile" style="background-color: #D3A6F2; color: white; height: 25px">User Profile</a>
          <a id="myCart" href="" style="background-color: #D3A6F2; color: white; height: 25px;">My Cart</a>
        <% } else { %> 
          <a id="login-button" href="/login" style="background-color: #D3A6F2; color: white; height: 25px">LogIn</a>
        <% } %>
      </nav>
    </div>
  </header>
  