body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
  }

  #hero-section h1 {
    padding: 50px 0;
    font-size: 2rem;
    font-weight: 600;
  }

  .container {
    background-color: #f0f0f0;
    padding: 50px 0;
  }

  .admin-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .admin-button {
    width: 200px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #D3A6F2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
  }

  .admin-button:hover {
    background-color: #b98ad4;
  }

  .admin-link {
    text-decoration: none;
  }