*{
    margin: 0;
    font-family: "Poppins";
  }
  
  
  /* For product list */
  .product-category{
    padding-top: 40px;
    padding-left: 5em;
    
  }
  
  .product-description{
    font-family: 'Poppins';
    padding-left: 10em;
    
  
  }
  
  .buttons {
    font-size: 22px;
    margin-top: 2%;
    margin-left: 4.2%;
  }
  
  
  .container {
    display: flex;
    flex-flow: column nowrap;
  
  }
  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 columns per row */
    gap: 20px;  /* Space between grid items */
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 20px;
   
  }
  
  .grid-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .grid-product img {
    width: 100%;
    height: auto;
  }
  
  .product-title, .product-type {
    text-align: center;
  }
  
 
  .btn {
    cursor: pointer;
    background: #D3A6F2;
    border: 1px solid #D3A6F2;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 40px;
    position: right;
    letter-spacing: 1px;
    display: inline-block;
  }
  
  .btn:hover {
    background: white;
    border: 2px solid #D3A6F2;
    border-radius: 6px;
    color: #D3A6F2;
    font-size: 15px;
    width: 100px;
    height: 40px;
    position: right;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline-block;
  }
  
  .out-of-stock{
    color: #444f36;
    font-weight: 600;
  }
  
  iframe {
    padding: 10px;
    height: 350px;
    width: 300px;
  }
  
  