*{
    margin: 0;
    font-family: "Poppins";
  }
  
  /* For navigation bar */
  .nav-header{
    box-sizing: border-box;
    /* margin: 1rem; */
  }
  
  #username-welcome {
    color: white;
    padding-left: 10px;
  }
  
  .navbar {
    margin: 0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: "Poppins";
    background-color: #D3A6F2;
    height: 60px;
    width: 100%;
    
  }
  
  .nav-links {
    height: 100%;
  }
  
  .nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links li a {
    display: block;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 20px;
    color: white;
    font-size: 15px;
  }
  
  .nav-links li:hover {
    background-color: #D3A6F2;
    color: white;
  }
  
  .nav-links li:hover a {
    
    color: white;
  }
  
  .hamburger-menu {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .nav-links {
      display: none;
      width: 100%;
    }
  
    .nav-links ul {
      width: 100%;
      flex-direction: column;
      background-color: #D3A6F2;
    }
  
    .nav-links ul li {
      text-align: center;
    }
  
    .nav-links ul li a {
      padding: .5rem 1rem;
      color: white;
    }
  
    .nav-links.active {
      display: flex;
    }
  }
  
  /* For product list */
  .product-category{
    padding-top: 40px;
    padding-left: 5em;
    
  }
  
  .product-description{
    font-family: 'Poppins';
    padding-left: 10em;
    
  
  }
  
  .buttons {
    font-size: 22px;
    margin-top: 2%;
    margin-left: 4.2%;
  }
  
  
  .container {
    display: flex;
    flex-flow: column nowrap;
  
  }
  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 columns per row */
    gap: 20px;  /* Space between grid items */
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 20px;
   
  }
  
  .grid-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .grid-product img {
    width: 100%;
    height: auto;
  }
  
  .product-title, .product-type {
    text-align: center;
  }
  
 
  .btn {
    cursor: pointer;
    background: #D3A6F2;
    border: 1px solid #D3A6F2;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 40px;
    position: right;
    letter-spacing: 1px;
    display: inline-block;
  }
  
  .btn:hover {
    background: white;
    border: 2px solid #D3A6F2;
    border-radius: 6px;
    color: #D3A6F2;
    font-size: 15px;
    width: 100px;
    height: 40px;
    position: right;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline-block;
  }
  
  .out-of-stock{
    color: #444f36;
    font-weight: 600;
  }
  
  iframe {
    padding: 10px;
    height: 350px;
    width: 300px;
  }
  
  footer {
    background-color: #D3A6F2;
    color: white;
    /* padding: 50px 0 20px; */
    font-family: Arial, sans-serif;
    padding: 50px;
  
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 10px;
  }
  
  .footer-section h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
    position: relative;
  }